eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/,http://localhost:8762/eureka/
  # 服务的地址名字（不建议使用）
  instance:
    hostname: localhost
spring:
  application:
    name: eureka-client